<footer>
  <div class="container footer-part">
      <div class="first-col">
          <div class="img-flex">
              <img src="../../assets/images/footer-image/logo.png" alt="" class="logo">
              <div class="fourth-col">
                  <div>
                      <img src="../../assets/images/footer-image/call (1).png" alt="">
                      <span>08048960773</span> <br>
                  </div>
                  <div>
                      <img src="../../assets/images/footer-image/mail (1).png" alt="">
                      <span>email@gmail.com </span>
                  </div>
              </div>
          </div>
          <p>Our latest news,articles will be sent to your inbox weekly</p>
          <div class="inputs-div">

              <input type="email" placeholder="Enter your email" name="email" class="email-input">
              <input type="submit" value="SUBSCRIBE" class="bhrt-btn">
          </div>
      </div>
      <div class="sec-third-flex">
          <div class="second-col">
              <h1>Useful Links</h1>
              <ul>
                  <li>
                      <a href="">Home</a>
                  </li>
                  <li>
                      <a href="/about-us">About Us</a>
                  </li>
                  <li>
                      <a href="/contact-us">Contact Us</a>
                  </li>
                  <li>
                      <a href="/testimonials">Testimonails</a>
                  </li>
                  <li>
                      <a href="/become-a-dealer">Become a Dealer</a>
                  </li>
              </ul>
          </div>
          <div class="third-col">
              <h1>Need Help?</h1>
              <ul>
                  <li>
                      <a href="/FAQ">FAQs</a>
                  </li>
                  <li>
                      <a href="/diclaimer">Disclaimer</a>
                  </li>
                  <li>
                      <a href="/privacy-policy">Privacy Policy</a>
                  </li>
                  <li>
                      <a href="/terms-of-services">Terms of Service</a>
                  </li>
                  <li>
                      <a href="/return-refund-and-cancellation-policy">Return, Refund and Cancellations Policy</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="fourth-col">
          <div>
              <img src="../../assets/images/footer-image/call (1).png" alt="">
              <span>08048960773</span> <br>
          </div>
          <div>
              <img src="../../assets/images/footer-image/mail (1).png" alt="">
              <span>email@gmail.com </span>
          </div>
      </div>
  </div>
  <div class="container">

      <hr>
      <div class="footer-bottom-part">
          <p>© 2022 All Right Reserved | Proudly Coded by <b> Team GFTPL </b></p>
          <div>
              <img src="../../assets/images/footer-image/Facebook.png" alt="">
              <img src="../../assets/images/footer-image/LinkedIn Circled.png" alt="">
              <img src="../../assets/images/footer-image/LinkedIn Circled.png" alt="">
          </div>
      </div>
  </div>
</footer>
