

<!-- Eighth section start -->
<div class="eighth-section">
  <div class="container eight-co">
    <div class="row eight-ro">
      <div class="col-lg-6">
        <div class="eight-content-part">
          <h1 class="text-h1">Mats Upto <span style="color: #CC0000;">25%</span> Off</h1>
          <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. A tellus pellentesque
            sit nisl faucibus dictum. Nisl, pellentesque ac mauris amet. Sed tincidunt mauris enim eu
            pellentesque nulla ultricies.</p>
          <button class="bhrt-btn">
            <a class="bhrt-btn" style="text-decoration: none;" href="/our-products">SHOP NOW</a>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="eight-img-part">
          <div class="img-1">
            <img src="../../assets/images/home_images/Rectangle 402.png" alt="" class="bg-img">
            <img src="../../assets/images/home_images/Image.png" alt="" class="cow-img">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Eight section ends -->
