
<!-- Third section starts -->
<div class="third-section">
  <div class="container third-co">
    <div class="row third-ro">
      <div class="col-lg-6">
        <div class=" third-img-part">
          <div class="img-1">
            <img src="../../assets/images/home_images/Rectangle 417.png" alt="" class="bg-img">
            <img src="../../assets/images/home_images/Rectangle 143.png" alt="" class="cow-img">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
            <img src="../../assets/images/home_images/Rectangle 144.png" alt="" class="vector-3">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="third-content-part">
          <h1 class="text-h1">Lorem ipsum dolor sit ame</h1>
          <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus adipiscing at
            quis egestas. A
            fermentum pellentesque enim, tempor, sit mi blandit. Auctor nibh morbi nisl, sodales at. Id
            vitae, porta dictum sagittis. Morbi tempus tellus quam hendrerit at tortor. Lorem viverra ut
            commodo, vivamus suscipit .</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Third section ends -->
