<!-- Shippingadress section starts -->
<div class="shipping-section">
  <div class="container shipping-co">
    <div class="row shipping-ro">
      <h1 class="text-h1">Shipping Address</h1>
      <div class="col-lg-8">
        <div class="shipping-form-part">
          <button class="order-btn">
            <p>ORDER SUMMARY</p>
            <p style="font-weight: 600;"> <b> (3 Items)</b> +</p>
          </button>
          <div class="shipping-details">
            <p>SHIPPING DETAILS</p>
            <div class="sub-div">
              <a class="my-5" href="">Add New Address</a>
              <form>
                <div class="row mb-3">
                  <label for="inputName4" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName4">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber4" class="col-sm-2 col-form-label">Mobile Number</label>
                  <div class="col-sm-10">
                    <input type="tel" class="form-control" id="inputNumber4">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPincode" class="col-sm-2 col-form-label">Pincode</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPincode" placeholder="600064">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputAddress2" class="col-sm-2 col-form-label">Address </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAddress2" style="margin-bottom: 10px;"
                      placeholder="Lorem Ipsum Doler Amit , 1st Floor , Mandijh fa street">
                    <div class="row g-3" style=" margin-bottom:10px;">
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="inputCity" placeholder="City">
                      </div>
                      <div class="col-md-6">
                        <select id="inputState" class="form-select">
                          <option selected>Select State</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <input type="text" class="form-control" id="inputZip" placeholder="India">
                      </div>
                    </div>
                    <div class="row g-3" style="margin-top: 10px;">
                      <div class="col-md-6">
                        <button type="submit" class="bhrt-btn" style="width: 100%;">SAVE &
                          CONTINUE</button>
                      </div>
                      <div class="col-md-6">
                        <button type="submit" class="bhrt-w-btn" style="width: 100%;">CANCEL</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="summary-part">
          <h2>Order Summary</h2>
          <div class="main-ac">
            <div class="ac-btn2">
              <div class="first-os">
                <p>Cart Value</p>
                <p class="green-p">Retail Discount</p>
                <p class="blue-p">Cashback/Refund Credits</p>
                <p>Delivery & Assembly Charges Extra.
                  Enter Pincode To Know
                </p>
              </div>
              <div class="second-os">
                <p>₹46,990</p>
                <p class="green-p">₹46,990</p>
                <p class="blue-p">₹46,990</p>
              </div>
            </div>
            <hr>
            <div class="third-os">
              <p>Total Cost</p>
              <div>
                <b>₹3800.00</b>
                <p>( Inclusive of all taxes )</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shipping address section ends -->
