 <!-- Product First section -->
 <div class="product-first-section">
  <div class="container pro-first-co">
      <div class="row pro-first-ro">
          <div class="col-lg-6">
              <div class="pro-first-img-part">
                  <img src="../../../../assets/images/product-page-images/Rectangle 54.png" alt="">
                  <div class="row">
                      <div class="col-sm-4">
                          <img src="../../../../assets/images/product-page-images/Rectangle 55.png" alt="">
                      </div>
                      <div class="col-sm-4">
                          <img src="../../../../assets/images/product-page-images/Rectangle 56.png" alt="">
                      </div>
                      <div class="col-sm-4">
                          <img src="../../../../assets/images/product-page-images/Rectangle 57.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="pro-first-content-part">
                  <h1 class="text-h1">Bharat Mat</h1>
                  <p class="text-p">Lorem ipsum</p>
                  <span class="s-one">₹1200</span>
                  <span class="s-two">₹1378</span>
                  <p class="text-p">Get it by tomorrow, July 20</p>
                  <ul class="text-p">
                      <li>Lorem ipsum dolor sit amet, consectetur</li>
                      <li> adipiscing elit. Aliquam elementum duis </li>
                      <li> quis commodo nibh massa. Nunc arcu</li>
                      <li> netus suscipit enim turpis tellus ante.</li>
                      <li>Diam mattis commodo tellus euismod</li>
                      <li> vel. Sed eget nibh in enim sit euismod id</li>
                      <li> nisl. Vestibulum, ullamcorper enim eros,</li>
                      <li> nisl. Vestibulum, ullamcorper enim eros,</li>
                  </ul>
                  <button class="bhrt-w-btn">QUICK BUY</button>
                  <button class="bhrt-btn">ADD TO CART</button>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Product First section -->

<!-- Product Second section -->
<div class="pro-second-section">
  <div class="container pro-second-co">
      <div class="row" style="align-items: center;">
          <div class="col-sm-9">
              <h1 class="text-h1" style="margin-bottom: 0;">Reviews</h1>
          </div>
          <div class="col-sm-3 rev">
              <button class="bhrt-btn">ADD REVIEW</button>
          </div>
      </div>
      <div class="row pro-second-ro">
          <div class="col-lg-6">
              <div class="review-box">
                  <div class="review-img-box">
                      <h1 class="text-h1">User Name</h1>
                      <img src="../../../../assets/images/product-page-images/Ellipse 54.png" alt="" height="97" width="97" style=" margin: 10px 0; display: block;">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                  </div>
                  <div class="review-content-box">
                      <p class="text-p">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at pulvinar
                          rhoncus mi eget morbi dolor. Nunc nibh sit quisque purus, lectus. Commodo at aliquet
                          augue sed egestas interdum. Egestas aliquet fringilla in dignissim aliquam
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="review-box">
                  <div class="review-img-box">
                      <h1 class="text-h1">User Name</h1>
                      <img src="../../../../assets/images/product-page-images/Ellipse 55@2x.png" alt="" width="97" height="97" style=" margin: 10px 0; display: block;">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                      <img src="../../../../assets/images/product-page-images/Star 6.png" alt="">
                  </div>
                  <div class="review-content-box">
                      <p class="text-p">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at pulvinar
                          rhoncus mi eget morbi dolor. Nunc nibh sit quisque purus, lectus. Commodo at aliquet
                          augue sed egestas interdum. Egestas aliquet fringilla in dignissim aliquam
                      </p>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
<!-- Product Second section -->
