<div class="first-section">
  <div class="square">
    <img src="../../assets/images/home_images/Rectangle 145.png" alt="">
  </div>
  <div class="vector-1">
    <img src="../../assets/images/home_images/Vector.png" alt="">
  </div>
  <div class="rectangle">
    <img src="../../assets/images/home_images/Rectangle 398.png" alt="">
  </div>
  <div class="container first-co">
    <div class="row first-ro">
      <div class="col-lg-6">
        <div class="first-content-part">
          <h1 class="text-h1">Lorem ipsum dolor sit amet consectetur adipiscing </h1>
          <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper
            congue eros, eget
            tincidunt ipsum eleifend ut. </p>
          <button class="bhrt-btn">
            <a href="/our-products" class="bhrt-btn" style="text-decoration: none;">Shop Now</a>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="first-img-part">
          <div class="img-1">
            <img src="../../assets/images/home_images/Rectangle 2.png" alt="" class="bg-img">
            <img src="../../assets/images/home_images/image 3.png" alt="" class="cow-img">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- First section ends -->
