<div class="" style="margin: auto;">
  <div class="row" >
    <div class="col-12">
      <h5 class="log-header text-center">Login</h5>
    </div>
  </div>
  <div class="log-body">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Email/Mobile</label>
      <input type="text" class="form-control form_input" id="formGroupExampleInput" placeholder="">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Password</label>
      <input type="text" class="form-control form_input" id="formGroupExampleInput2" placeholder="password">
    </div>
    <a href="" style="text-decoration: none;color:#000; font-size:14px;">Forgot
      Password?</a>
    <div class="mb-3 sign-part">
      <button class="sign-btn">Sign In</button>
      <p>Or</p>
      <a href="">Login with OTP</a>
    </div>
  </div>
  <div class="log-footer">
    <span>Don't have an account yet? <a href="">Register Now</a></span>
  </div>
</div>
