
<!-- Fourth section starts -->
<div class="fourth-section">
  <div class="container fourth-co">
    <div class="row fourth-ro">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="row white-ro">
            <div class="col-sm-4 white-co">
              <h1>2014</h1>
              <p>Founded</p>
            </div>
            <div class="col-sm-4 white-co">
              <h1>2014</h1>
              <p>Founded</p>
            </div>
            <div class="col-sm-4 white-co">
              <h1 style="border-right:none;">2014</h1>
              <p>Founded</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fifth section starts -->
  <div class="fifth-section">
    <div class="container fifth-co">
      <div class="row fifth-ro">
        <div class="col-lg-6">
          <div class="fifth-content-part">
            <h1 class="text-h1">Become Our Dealer</h1>
            <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus adipiscing
              at quis egestas. A fermentum pellentesque enim, tempor, sit mi blandit. Auctor nibh
              morbi nisl, sodales at. Id </p>
            <button class="bhrt-btn">Register Now</button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="fifth-img-part">
            <div class="img-1">
              <img src="../../assets/images/home_images/Ellipse 25.png" alt="" class="bg-img"
                style="position: absolute;">
              <img src="../../assets/images/home_images/Ellipse 24.png" alt="" class="bg-img bg-img-2">
              <img src="../../assets/images/home_images/image 4.png" alt="" class="cow-img">
              <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fifth section ends -->
</div>
<!-- Fourth section ends -->
