
/* Second-section */
.second-section {
  background: #fff;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.second-ro h1 {
  margin-bottom: 0;
}

.second-ro p {
  margin-bottom: 50px;
}

.mat-img p {
  font-weight: 600;
  margin-top: 10px;
}

.mat-img img {
  width: 100%;
}
.text-h1 {
  font-weight: 700;
  font-size: 59px;
  margin-bottom: 30px;
  color: #34251f;
  text-align: center;
}

@media (max-width: 760px) {
  .text-h1 {
    font-size: 39px;
    margin-bottom: 10px;
  }
}
