
<!-- Second section starts -->
<div class="second-section">
  <div class="container second-co">
    <div class="row second-ro">
      <h1 class="text-h1">Are you looking for..</h1>
      <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper congue eros
      </p>
      <div class="col-lg-4">
        <div class="mat-img">
          <img src="../../assets/images/home_images/Rectangle 407.png" alt="">
          <p>Cow Mats</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mat-img">
          <img src="../../assets/images/home_images/Rectangle 412.png" alt="">
          <p>Dairy Mats</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mat-img">
          <img src="../../assets/images/home_images/Rectangle 413.png" alt="">
          <p>Animal Mats</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Second section ends -->
