<div class="first-section">
  <div class="square">
    <img src="../../assets/images/home_images/Rectangle 145.png" alt="">
  </div>
  <div class="vector-1">
    <img src="../../assets/images/home_images/Vector.png" alt="">
  </div>
  <div class="rectangle">
    <img src="../../assets/images/home_images/Rectangle 398.png" alt="">
  </div>
  <div class="container first-co">
    <div class="row first-ro">
      <div class="col-lg-6">
        <div class="first-content-part">
          <h1 class="text-h1">Lorem ipsum dolor sit amet consectetur adipiscing </h1>
          <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper
            congue eros, eget
            tincidunt ipsum eleifend ut. </p>
          <button class="bhrt-btn">
            <a href="/our-products" class="bhrt-btn" style="text-decoration: none;">Shop Now</a>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="first-img-part">
          <div class="img-1">
            <img src="../../assets/images/home_images/Rectangle 2.png" alt="" class="bg-img">
            <img src="../../assets/images/home_images/image 3.png" alt="" class="cow-img">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- First section ends -->

<!-- Second section starts -->
<div class="second-section">
  <div class="container second-co">
    <div class="row second-ro">
      <h1 class="text-h1">Are you looking for..</h1>
      <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper congue eros
      </p>
      <div class="col-lg-4">
        <div class="mat-img">
          <img src="../../assets/images/home_images/Rectangle 407.png" alt="">
          <p>Cow Mats</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mat-img">
          <img src="../../assets/images/home_images/Rectangle 412.png" alt="">
          <p>Dairy Mats</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mat-img">
          <img src="../../assets/images/home_images/Rectangle 413.png" alt="">
          <p>Animal Mats</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Second section ends -->

<!-- Third section starts -->
<div class="third-section">
  <div class="container third-co">
    <div class="row third-ro">
      <div class="col-lg-6">
        <div class=" third-img-part">
          <div class="img-1">
            <img src="../../assets/images/home_images/Rectangle 417.png" alt="" class="bg-img">
            <img src="../../assets/images/home_images/Rectangle 143.png" alt="" class="cow-img">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
            <img src="../../assets/images/home_images/Rectangle 144.png" alt="" class="vector-3">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="third-content-part">
          <h1 class="text-h1">Lorem ipsum dolor sit ame</h1>
          <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus adipiscing at
            quis egestas. A
            fermentum pellentesque enim, tempor, sit mi blandit. Auctor nibh morbi nisl, sodales at. Id
            vitae, porta dictum sagittis. Morbi tempus tellus quam hendrerit at tortor. Lorem viverra ut
            commodo, vivamus suscipit .</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Third section ends -->

<!-- Fourth section starts -->
<div class="fourth-section">
  <div class="container fourth-co">
    <div class="row fourth-ro">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="row white-ro">
            <div class="col-sm-4 white-co">
              <h1>2014</h1>
              <p>Founded</p>
            </div>
            <div class="col-sm-4 white-co">
              <h1>2014</h1>
              <p>Founded</p>
            </div>
            <div class="col-sm-4 white-co">
              <h1 style="border-right:none;">2014</h1>
              <p>Founded</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fifth section starts -->
  <div class="fifth-section">
    <div class="container fifth-co">
      <div class="row fifth-ro">
        <div class="col-lg-6">
          <div class="fifth-content-part">
            <h1 class="text-h1">Become Our Dealer</h1>
            <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus adipiscing
              at quis egestas. A fermentum pellentesque enim, tempor, sit mi blandit. Auctor nibh
              morbi nisl, sodales at. Id </p>
            <button class="bhrt-btn">Register Now</button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="fifth-img-part">
            <div class="img-1">
              <img src="../../assets/images/home_images/Ellipse 25.png" alt="" class="bg-img"
                style="position: absolute;">
              <img src="../../assets/images/home_images/Ellipse 24.png" alt="" class="bg-img bg-img-2">
              <img src="../../assets/images/home_images/image 4.png" alt="" class="cow-img">
              <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fifth section ends -->
</div>
<!-- Fourth section ends -->


<!-- Sixth section starts -->
<div class="sixth-section">
  <div class="container sixth-co">
    <div class="row sixth-ro">
      <h1 class="text-h1">Our Products</h1>
      <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="col-sm-3">
        <a href="" class="prod-img">
          <img src="../../assets/images/home_images/Rectangle 21 (3).png" alt="">
          <h5>Product Name</h5>
          <b>₹1400</b>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="" class="prod-img">
          <img src="../../assets/images/home_images/Rectangle 21.png" alt="">
          <h5>Product Name</h5>
          <b>₹1400</b>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="" class="prod-img">
          <img src="../../assets/images/home_images/Rectangle 21 (2).png" alt="">
          <h5>Product Name</h5>
          <b>₹1400</b>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="" class="prod-img">
          <img src="../../assets/images/home_images/Rectangle 21 (1).png" alt="">
          <h5>Product Name</h5>
          <b>₹1400</b>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Sixth section ends -->


<!-- Seventh section starts -->
<div class="seventh-section">
  <div class="container seventh-co">
    <div class="row seventh-ro">
      <h1 class="text-h1">How Our Products Work</h1>
    </div>
  </div>
</div>
<!-- seveneth section ends -->

<!-- Eighth section start -->
<div class="eighth-section">
  <div class="container eight-co">
    <div class="row eight-ro">
      <div class="col-lg-6">
        <div class="eight-content-part">
          <h1 class="text-h1">Mats Upto <span style="color: #CC0000;">25%</span> Off</h1>
          <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. A tellus pellentesque
            sit nisl faucibus dictum. Nisl, pellentesque ac mauris amet. Sed tincidunt mauris enim eu
            pellentesque nulla ultricies.</p>
          <button class="bhrt-btn">
            <a class="bhrt-btn" style="text-decoration: none;" href="/our-products">SHOP NOW</a>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="eight-img-part">
          <div class="img-1">
            <img src="../../assets/images/home_images/Rectangle 402.png" alt="" class="bg-img">
            <img src="../../assets/images/home_images/Image.png" alt="" class="cow-img">
            <img src="../../assets/images/home_images/Vector.png" alt="" class="vector-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Eight section ends -->

<!-- Ninth-section starts -->
<div class="ninth-section">
  <div class="container nine-co">
    <div class="row nine ro">
      <h1 class="text-h1">What People Say About Us</h1>
      <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>
<!-- Ninth section ends -->

<!-- Tenth-section starts -->
<div class="tenth-section">
  <div class="container ten-co">
    <div class="row ten-ro">
      <h1 class="text-h1">Get In Touch</h1>
      <div class="col-lg-6">
        <div class="ten-form-part">
          <div class="mb-3">
            <!-- <label for="exampleFormControlInput1" class="form-label">Name</label> -->
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
          </div>
          <div class="mb-3">
            <!-- <label for="exampleFormControlInput2" class="form-label">Email address</label> -->
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <!-- <label for="exampleFormControlTextarea1" class="form-label">Phone Number</label> -->
            <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number">
          </div>
          <div class="mb-3">
            <!-- <label for="exampleFormControlTextarea1" class="form-label">Message</label> -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3" style="text-align: center;">

            <input type="submit" value="Send Message" class="bhrt-btn">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ten-map-part">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53163420.59652945!2d-0.09631712139997495!3d35.58239796314488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888442d584b86c1%3A0xa0bd2cda9effc80f!2s14%20Gibson%20St%2C%20Glasgow%20G12%208NX%2C%20UK!5e0!3m2!1sen!2sin!4v1660126503388!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tenth section ends -->
