/* from style.css */

* {
  box-sizing: border-box;
  font-family: "Frank Ruhl Libre", serif;
}

/* used everywhere classes start */
.text-h1 {
  font-weight: 700;
  font-size: 59px;
  margin-bottom: 30px;
  color: #34251f;
  text-align: center;
}

.text-p {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #34251f;
}

.bhrt-btn {
  background: #34251f;
  border-radius: 2px;
  width: 141px;
  border: none;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: inline;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bhrt-btn:hover {
  box-shadow: none;
  transition: 0.5s;
}

@media (max-width: 760px) {
  .bhrt-btn {
    width: 100px;
    font-size: 14px;
    height: 35px;
  }
}
@media (max-width: 760px) {
  .text-h1 {
    font-size: 39px;
    margin-bottom: 10px;
  }
}

@media (max-width: 760px) {
  .text-p {
    font-size: 18px;
  }
}

/* used everywhere classes end */

/* First section */
.first-section {
  height: auto;
  background: #d0f3ff;
  position: relative;
}

.square img {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translate(-100%, 0);
  width: fit-content;
}

.rectangle img {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0, -100%);
  width: fit-content;
}

@media (max-width: 990px) {
  .square img,
  .rectangle img {
    width: 40%;
  }

  .first-img-part {
    margin-top: 50px;
  }
}

.vector-1 img {
  position: absolute;
  top: 10%;
  left: 0;
  transform: translate(0, -10%);
}

.first-ro {
  padding-top: 80px;
  padding-bottom: 100px;
}

.img-1 {
  position: relative;
  justify-content: center;
  text-align: center;
}

.cow-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.bg-img {
  width: 70%;
}

.vector-3 {
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translate(-10%, -100%);
}

.vector-2 {
  position: absolute;
  top: 15%;
  left: 76%;
  transform: translate(-13%, 0);
}

@media (max-width: 760px) {
  .vector-1 img,
  .vector-2,
  .vector-3 {
    width: 20%;
  }
}

.first-content-part {
  position: relative;
}

@media (max-width: 990px) {
  .first-content-part {
    text-align: center;
  }

  .first-ro {
    padding-top: 30px;
  }
}

/* Second-section */
.second-section {
  background: #fff;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.second-ro h1 {
  margin-bottom: 0;
}

.second-ro p {
  margin-bottom: 50px;
}

.mat-img p {
  font-weight: 600;
  margin-top: 10px;
}

.mat-img img {
  width: 100%;
}

.third-img-part .img-1 .cow-img {
  width: 70%;
}

.third-img-part .img-1 .vector-2 {
  top: -10%;
}

.third-img-part .img-1 .vector-3 {
  z-index: -1;
  top: 115%;
}

@media (max-width: 990px) {
  .third-content-part {
    text-align: center;
    padding-top: 65px;
  }
}

/* fourth section */
.fourth-section {
  padding-bottom: 300px;
  background-image: url(../../assets/images/home_images/Rectangle_416.png);
  height: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.fourth-ro .col-lg-12 {
  /* position: relative; */
  justify-content: end;
  display: flex;
}

.white-box {
  /* height: 100px; */
  background: #fff;
  box-shadow: 1px 2px 6px grey;
  width: 50%;
  /* position: absolute;
  left: 85%;
  transform: translate(-95%,0);
  top: -30px; */
}

.white-ro {
  height: 100px;
  padding: 20px 10px;
  text-align: center;
  padding-top: 10px;
}

.white-ro h1 {
  border-right: 1px solid #000;
  font-weight: 600;
}

.white-ro p {
  font-weight: 600;
}

@media (max-width: 990px) {
  .white-co {
    width: 33%;
  }

  .white-box {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .white-ro {
    height: 72px;
    width: 100%;
  }

  .white-ro h1 {
    font-size: 20px;
  }

  .white-ro p {
    font-size: 14px;
  }
}

/* Fifth section */
.fifth-section {
  padding-top: 150px;
}

@media (max-width: 820px) {
  .fifth-section {
    text-align: center;
    padding-top: 0;
    margin-top: -50px;
  }

  .fifth-img-part {
    padding-top: 30px;
  }
}

.bg-img-2 {
  padding: 30px;
}

.fifth-content-part {
  padding-top: 150px;
}

@media (max-width: 760px) {
  .bg-img-2 {
    padding: 20px;
  }
}

.fifth-img-part .img-1 .vector-2 {
  position: absolute;
  top: 0;
  left: 70%;
  transform: translate(-13%, 0);
}

/* sixth-section */

.sixth-section {
  text-align: center;
  margin-top: -140px;
}

.prod-img img {
  width: 100%;
}

.prod-img {
  text-decoration: none;
  color: #000;
}

.sixth-ro .text-h1 {
  margin-bottom: 0;
}



/* eight-section */
.eighth-section {
  background: #d9f5ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-left: 50px;
  margin-top: 100px;
}

.eight-ro {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 760px) {
  .eighth-section {
    margin-left: 20px;
    text-align: center;
  }
  .eight-ro {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .eight-img-part {
    padding-top: 30px;
  }
}

/* Ninth section */
.ninth-section {
  padding-top: 100px;
  text-align: center;
}

/* tenth-section */
.ten-form-part .mb-3 .form-control {
  border: 2px solid #00a5da;
  /* width: 90%; */
}
.tenth-section {
  padding-top: 100px;
  padding-bottom: 80px;
}

.ten-map-part iframe {
  width: 100%;
}

.ten-form-part {
  padding-top: 50px;
}

@media (max-width: 820px) {
  .ten-form-part {
    padding-top: 20px;
  }
}
